<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="UnitTest" verbose="1" parallel="methods">
    <test name="test">
        <groups>
            <run>
<!--                <include name="failed"/>-->
                <include name="passed"/>
            </run>
        </groups>
        <classes>
            <class name="NegativeValueTest"/>
            <class name="SumCalculatorTest"/>
            <class name="MultipleCalculatorTest"/>
            <class name="PositiveValueTest"/>
            <class name="PowCalculatorTest"/>
            <class name="SinCalculatorTest"/>
            <class name="SqrtCalculatorTest"/>
            <class name="SubCalculatorTest"/>
            <class name="DivCalculatorTest">
                <methods>
                    <exclude name="divDoubleToZero"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>